canvas#canvas.background-color {
    background-color: random($limit: 10);

}

button {
    background-color: random($limit: 16);
    padding: 1rem 2rem;
    text-align: center;
    font-family: 'Anton', sans-serif;

}
